$dropdown-width:  350px;
$dropdown-height: 200px;
$main-gray:       #CCCCCC;
$main-font:       'Open Sans', serif, arial;
$main-font-size:  13px;
$text-color:      #808080;
$row-height:      49px;
$label-width:     106px;
$selector-width:  178px;